(let [host "0.0.0.0"]
  (tcp-server {:host host})
  (udp-server {:host host})
  (ws-server  {:host host})
  (graphite-server {:host host}))

(periodically-expire 30)

(streams
 (influxdb {:host (System/getenv "CRIG_INFLUXDB_1_PORT_8086_TCP_ADDR")
            :port 8086
            :db "riemann"
            :username "root"
            :password "root"
            :series #(str (:host %) "." (:service %))}))
